# HW2
## Named Entity Recognition

*deadline*: 25-03-2022 00:30

You should build your own NER system. You can use all pretrained models except models that trained on our test set.
Data for this HW was taken from https://github.com/dialogue-evaluation/factRuEval-2016 and http://bsnlp.cs.helsinki.fi/shared-task.html

Final score will be computed by join competition results https://www.kaggle.com/c/mipt-nlp-hw2-2022 and minimal theory.
For the five top places you obtain additional points:
1. 10
2. 8
3. 6
4. 5
5. 4

All submissions to any task should have your team name.

## Rules
1. Homework is done in a group of up to 3 people. If you are doing a task in a group when sending to anytask, please indicate the logins of the group members so that they can be found in the anytask system.
2. Homework is submitted through anytask, invites will be additionally sent.
3. Homework is made in the form of a report either in a .pdf file, or in an ipython notebook.
4. The report should contain: the numbering of tasks and items that you completed, the solution code, and a clear step-by-step description of what you did. The report should be written in an academic style, without excessive use of slang and in compliance with the norms of the Russian language.
5. Do not copy fragments of lectures, articles and Wikipedia into your report.
6. Reports consisting solely of code will not be validated and will automatically be scored at zero.
7. Plagiarism and any unfair quotation leads to zeroing of the score.

## Part 0 [0 points] Sample submission

In [2]:
import pandas as pd

In [3]:
train_df = pd.read_csv("train.csv", sep="\t")

In [9]:
train_df.head()

,labels,text,clf
0,O O O O O O B_ORG I_ORG O B_LOC I_LOC O O O O ...,В понедельник 28 июня у здания мэрии Москвы на...,False
1,O O O O O O O O O O O B_LOC B_PER I_PER O O O ...,"Среди требований , выдвигаемых организаторами ...",False
2,O O O O O O O O O O O O O O O O O O O O B_PER ...,Участникам акции предлагалось принести с собой...,False
3,O O O O O O O O O O O O O O O O O,Начало акции было намечено на 19 часов ; подчё...,True
4,O O O O O O O O O O O O O B_LOC I_LOC I_LOC O ...,"Освещающие акцию блоггеры сообщили , что автоб...",False

In [4]:
len(train_df)

1519

In [5]:
label_convertor = {
    'O': 1,
    'B_ORG': 2,
    'I_ORG': 3,
    'B_LOC': 4,
    'I_LOC': 5,
    'B_PER': 6,
    'I_PER': 7
}

In [6]:
test_df = pd.read_csv("test.csv", sep="\t")

In [7]:
len(test_df)

2714

In [8]:
test_df.head()

                                                text    clf
0                               Александр Вертинский  False
1  « Я не знаю , зачем и кому это нужно … » 21 ма...  False
2             Слишком много « пустого » пространства   True
3               И он научился заполнять его вымыслом   True
4  Создал собственный театр с безумным множеством...   True

In [10]:
from collections import Counter

In [11]:
lbls = []
for x in train_df.labels:
    lbls.extend(x.split())

In [12]:
Counter(lbls)

Counter({'O': 25158,
         'B_ORG': 727,
         'I_ORG': 854,
         'B_LOC': 888,
         'I_LOC': 182,
         'B_PER': 702,
         'I_PER': 503})

In [13]:
tokens = []
for x in test_df.text:
    tokens.extend(x.split())

In [14]:
preds = [label_convertor["B_LOC"]] * len(tokens)

In [15]:
df = pd.DataFrame({"Predicted": preds})

In [16]:
len(df)

56409

In [17]:
df.to_csv("sample_submission.csv", sep=",", index_label="Id")


## Part 1 [3 point] Analyze and prepare.
1. Analyze distribution of labels and draw a plot.
2. Remove unexcepted labels from data (if it's needed) and describe how (if it's needed).

## Part 2 [4 point] Try a baseline.
1. Performe baseline from this tutorial https://sklearn-crfsuite.readthedocs.io/en/latest/tutorial.html.
2. Make crossvalidation.
3. Describe your features and results.

## Part 3. [2 point] Try your favorite ML algorithm.
1. Make submission to leaderboard and beat with your favorite ML algorithm (0.55 macro f1).
2. Plot learning curves (if your algo is not rule-based).
3. Describe your solution (or one of your solutions) and results.
Also here your can do many experiments.

## Part 4. [1 point] Results.
Describe your results and experiments.